// COLOR VARIABLES
$color-primary: #b5cc22;
$color-primary-dark: #677510;

$color-white: #fff;
$color-black: #323232;

$color-grey-1: #f6f6f6;
$color-grey-2: #ebebeb;
$color-grey-3: #aeaeae;

$color-warning: #ea5555;
$color-warning-light: #ff9898;
